rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /drivers/{id} {
      allow read, write: if true;
    }
    match /shipments/{id} {
      allow read, write: if true;
    }
    match /attachments/{id} {
      allow read, write: if true;
    }
  }
}
